{% extends 'base.html' %}
{% load static %}

{% block metadicription %}
    
        {{ category.discription|truncatechars:150 }}
   
{% endblock %}

{% block title %}
    your cart
{% endblock %}

{% block content %}
{% if not cart_item %}
<div>
    <div class='text-center'>
        <br>
        <h2>
            Your cart is empty
        </h2>
        <br>
        <a class="text-center" href="{% url 'shop:allcatproduct'%}" >continue shopping</a>   
    </div>
</div>
{% else %}
<div class="container">
    <div>
        <div class="text-center my_title">
            <h1>Your shopping cart</h1>
            <br>
        </div>
    </div>
    <div class="row mx_auto">
        <div class="col-md-12 col-12 col-sm-12 col-lg-6 text-center">
            <div class="table costum_table">
                <table>
                    <thead class="custom_thead">
                        <tr>
                            <th colspan=5>your items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in cart_item %}
                        <tr>
                            <td>
                                <div>
                                    <a href="i.product.get_absolute_url" ><img src="{{i.product.image.url}}" alt="" style="width:150px;height:150px;" class="float-left rounded my_image" ></a>
                                </div>
                            </td>
                            <td class="text-lef">
                                {{i.product.name}}
                                <br>
                                SKU:{{i.product.id}}
                                <br>
                                price: ${{i.product.price}}
                                <br>
                                QTY: {{i.quantity}} x {{i}}
                            </td>
                            <td>
                                ${{i.sub_total}}
                            </td>
                            {% if i.quantity < i.product.stock %}
                            <td>
                                <a href="{% url 'cart:add_cart' i.product.id %}" class="custom_icon"><i class="fa-solid fa-plus"></i></a>
                                &nbsp;<a href="{% url 'cart:remove' i.product.id %}" class="custom_icon"><i class="fa-solid fa-minus"></i></a>
                                &nbsp;<a href="{% url 'cart:cart_delete' i.product.id %}"class="custom_icon"><i class="fa-solid fa-trash"></i></a>
                            </td>
                            {% else %}
                            <td>
                                &nbsp;<a href="{% url 'cart:remove' i.product.id %}" class="custom_icon"><i class="fa-solid fa-minus"></i></a>
                                &nbsp;<a href="{% url 'cart:cart_delete' i.product.id %}"class="custom_icon"><i class="fa-solid fa-trash"></i></a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
            
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                    <div class="table costum_table">
                        <table>
                            <thead class='custom_thead'>
                                <tr>
                                    <th colspan=5>
                                        Checkout
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Please review your item before proceeding with other payments
                                    </td>
                                </tr>
                                <div class="text-left">
                                    <tr>
                                        <td>your total :<strong>{{ total }}</td></strong>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                    </div>
                    <div class="mx_auto" style="margin-right:135px;">
                        <a href="{% url 'shop:allcatproduct' %}" class="btn btn-secondary btn-block costum_button">Continue shopping</a>
                        <a href="{% url 'shop:allcatproduct' %}" class="btn btn-secondary btn-block costum_button">Add Books</a>
                    </div>
                </div>
            
            </div>
    
    </div>
    {% endif %}
</div>
{% endblock %}