{% extends 'base.html' %}
{% load static %}

{% block metadicription %}
   
        {{ category.discription|truncatechars:150 }}
 
{% endblock %}
{% block title %}
search results
{% endblock %}

{% block content %}

<div class='text-center my_search_text'>You have searched for:<b>"{{query}}"</div>
    <div class="container">
        <div class="row mx_auto">
            {% for product in products %}
            <div class="bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
                <div class="card text-center h-100" style="min-width:18rem";>
        
                    <a href="{{product.get_url}}"><img class="card-img-top" src="{{product.image.url}}" width="300px"; height="300px";></a><br>
        
                    <div class="card-body">
                        <h4 class="card_title">{{product.name}}</h4>
                        <p>${{product.price}}</p>
                    </div>
                </div>
             </div>
             {% empty %}
             <div class='row mx_auto'>
                <P class="text-center">0 results found</p>
            </div>
            {% endfor %}
        </div>
    </div>       

{% endblock %}